.header-top-container {
  background: rgba(10, 10, 10, 0.65);
  padding: 15px 15px 5px 15px;
}

.header-top {
  z-index: 99;
  display: flex;
  justify-content: space-between;
  line-height: 4rem;
  width: 100%;
  box-sizing: border-box;
  user-select: none;
}

.links-tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
}

.links-tab.links-tab-col {
  flex-direction: column;
}

.links-tab a {
  color: white;
  text-decoration: none;
  padding: 0 3px;
}

.links-tab a.selected-link {
  font-weight: bold;
  font-size: 2.1rem;
}

.retro-logo {
  margin-right: 6px;
  background: url('/static/web_retrobomblogo.png');
  background-size: cover;
  max-width: 260px;
  max-height: 45px;
  width: calc(6.8vmin * 5.7);
  height: 6.8vmin;
}

.logo-text {
  color: white;
  font-size: 2rem;
}

.ue4-logo {
  cursor: pointer;
  background: url('/static/UE_Logo_Icon_White.png');
  background-size: cover;
  width: 51px;
  height: 51px;
}

.header-link {
  margin-left: 10px;
  opacity: 0.75;
  transition: opacity .5s;
}

.header-link:hover {
  opacity: 1;
}
