.header-top {
  display: flex;
  justify-content: space-between;
  line-height: 4rem;
  background: rgba(38, 35, 48, .8);
  width: 100%;
  padding: 15px 15px 5px 15px;
  box-sizing: border-box;
  user-select: none;
}

.links-tab {
  display: flex;
  justify-content: space-between;
}

.retro-logo {
  margin-right: 6px;
  background: url('/static/Retro_Bomb_Logo.png');
  background-size: cover;
  width: 80px;
  height: 60px;
}

.logo-text {
  color: white;
  font-size: 2rem;
}

.ue4-logo {
  cursor: pointer;
  background: url('/static/UE_Logo_Icon_White.png');
  background-size: cover;
  width: 51px;
  height: 51px;
}

.header-link {
  margin-left: 10px;
  opacity: 0.75;
  transition: opacity .5s;
}

.header-link:hover {
  opacity: 1;
}
