.background-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.background-image.slide-0 {
  background-image: url('/static/screenshot1.jpg');
  opacity: 1;
}
.background-image.slide-1 {
  background-image: url('/static/screenshot2.jpg');
  opacity: 1;
}
.background-image.slide-2 {
  background-image: url('/static/screenshot3.jpg');
  opacity: 1;
}
.background-image.slide-3 {
  background-image: url('/static/screenshot4.jpg');
  opacity: 1;
}
.background-image.fade-out {
  opacity: 0;
  transition: opacity 1.25s;
}

.splash-logo {
  background-image: url('/static/splash-logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 45vh;
  height: 47vh;
  margin: auto;
  margin-top: 0;
}

.body-section {
  overflow: auto;
  max-width: 700px;
  width: 80%;
  height: 35vh;
  max-height: 240px;
  margin: auto;
  margin-bottom: 30px;
  text-align: left;
  background: rgba(10, 10, 10, 0.65);
  padding: 0px 30px;
  user-select: none;
}

@media screen and (max-width: 800px) {
  .splash-logo {
    width: 40vh;
    height: 42vh;
    margin-top: 5vh;
  }
}

.main-title {
  font-size: 2rem;
  color: white;
  margin: 10px 0;
  border-bottom: 2px solid #f0781e;
  text-transform: uppercase;
  display: inline-block;
}

.paragraph-text {
  margin: 10px 0;
  color: white;
  font-weight: 200;
  font-size: 1.02rem;
}

.paragraph-text.decoration {
  font-weight: 400;
  text-transform: uppercase;
}

.buttons-wrapper {
  position: absolute;
  width: 100%;
  bottom: 42vh;
  z-index: 99;
}

.watch-button {
  background: rgba(10, 10, 10, 0.65);
  border: 2px solid white;
  color: white;
  font-size: 1.5rem;
  transition: all 1s;
  cursor: pointer;
  text-transform: uppercase;
  margin: 0 34px 5px 34px;
  width: 260px;
  height: 50px;
  font-family: Roboto;
}

.watch-button:hover {
  color: #f0781e;
  border-color: #f0781e;
}

.video-frame {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.75);
}

.slide-section {
  width: 100vw;
  height: calc(100vh - 84px);
}

.slider-wrapper {
  transition: transform .5s, opacity .8s;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide-section.scrolled .slider-wrapper {
  transform: translateY(-100%);
}

.slide-section .slider-wrapper:first-child {
  opacity: 1;
}

.slide-section .slider-wrapper:last-child {
  opacity: 0;
}

.slide-section.scrolled .slider-wrapper:first-child {
  opacity: 0;
}

.slide-section.scrolled .slider-wrapper:last-child {
  opacity: 1;
}

.slider-container {
  overflow: hidden;
  height: calc(100vh - 84px);
  width: 100vw;
}

.bullets {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
  bottom: 0;
  justify-content: space-between;
  width: auto;
  height: auto;
}

.radio {
  display: inline-block;
  apadding-right: 20px;
  afont-size: 18px;
  aline-height: 49px;
  cursor: pointer;
  aposition:absolute;
}

.radio:hover .inner {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: .5;
}

#first:checked ~ .radio:nth-of-type(1) .outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
#second:checked ~ .radio:nth-of-type(2) .outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
#third:checked ~ .radio:nth-of-type(3) .outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
#fourth:checked ~ .radio:nth-of-type(4) .outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.radio .outer {
  height: 25px;
  width: 25px;
  display: block;
  float: left;
  margin: 5px 5px 10px;
  border-radius: 50%;
  background-color: rgba(10, 10, 10, 0.65);;
}
.radio .inner {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  display: block;
  margin: -1px;
  border-radius: 50%;
  background-color: #f0781e;
  opacity: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

input[type="radio"] {
  height: 1px;
  width: 1px;
  opacity: 0;
}
